# JivanSetu Application Configuration
PORT=5000
NODE_ENV=development
JWT_SECRET=jivansetu-healthcare-jwt-secret-key-2026
CLIENT_URL=http://localhost:5173

# Frontend API Target (Set to backend deployment URL in production e.g. https://jeevansetu-api.onrender.com)
VITE_API_URL=http://localhost:5000

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.moxukvl.mongodb.net/jeevansetu?retryWrites=true&w=majority
